<IfModule mod_rewrite.c>
	
	RewriteEngine on
	RewriteRule ^webcontent/(.*)$	-					[L]

	## Not all installations will require this line. If you do,
	## put the URL prefix to the aigaion installations here.
	#RewriteBase /aigaion

	RewriteRule ^aigaionengine/(.*)	aigaionengine/$1	[L]
	RewriteRule ^install/(.*)		install/$1			[L]
	RewriteRule ^index.php/(.*)$	index.php?$1		[L,QSA]
	RewriteRule	^index.php(.*)$		index.php$1			[L]
	RewriteCond %{REQUEST_FILENAME}       !-f
	RewriteCond %{REQUEST_FILENAME}       !-d
	RewriteRule ^(.*)$				index.php?$1		[L,QSA]

</IfModule>